<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="off" monitorInterval="1800">
    <properties>
        <property name="logHome">./</property>
        <property name="logLevel">DEBUG</property>
        <property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%-5t] [%c{5}:%L] %m%n</property>
    </properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingRandomAccessFile name="root"
                                 fileName="${logHome}/root.log"
                                 filePattern="${logHome}/root.log.%d{yyyy-MM-dd}-%i">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>


        <RollingRandomAccessFile name="raft"
                                 fileName="${logHome}/raft.log"
                                 filePattern="${logHome}/raft.log.%d{yyyy-MM-dd}-%i">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="500 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>


    </Appenders>

    <Loggers>
        <logger name="com.renxl.club.raft" level="${logLevel}" includeLocation="false"
                additivity="true">
            <appender-ref ref="raft"/>
        </logger>

        <root level="${logLevel}" includeLocation="false">
            <appender-ref ref="console"/>
            <appender-ref ref="root"/>
        </root>
    </Loggers>
</Configuration>